<a href="https://colab.research.google.com/github/Lakkireddy311/assignments/blob/main/module_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. How do you comment code in Python? What are the different types of comments?

A1. You can comment code in Python using the # symbol for single-line comments and using triple quotes ''' or """ for multi-line comments.

Q2. What are variables in Python? How do you declare and assign values to variables?

A2. Variables in Python are used to store data values. You can declare and assign values to variables like this:

In [2]:
variable_name = 10

Q3. How do you convert one data type to another in Python?

A3. You can convert one data type to another using built-in functions like int(), float(), str(), etc. For example:

In [3]:
x = 10
y = float(x)

Q4. How do you write and execute a Python script from the command line?

A4. You can write a Python script in a text editor and save it with a .py extension. To execute it from the command line, navigate to the directory containing the script and type python script_name.py.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [5]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

A6. A complex number is a number that comprises a real part and an imaginary part. In Python, it's represented as x + yj, where x is the real part and y is the imaginary part.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [6]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

This variable belongs to the float data type.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [8]:
name = "Lakkireddy sai shivani"
print(name)

Lakkireddy sai shivani

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
string = "Hello, World!"
substring = string[7:]

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [10]:
is_student = True  # or False depending on your status