<a href="https://colab.research.google.com/github/Lakkireddy311/assignments/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1Q
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
#2Q
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#3Q
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

string_tuple = tuple(map(lambda x: str(x), numbers))
print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
#4Q
from functools import reduce

numbers = list(range(1, 26))

product = reduce(lambda x, y: x * y, numbers)
print(product)

15511210043330985984000000

In [5]:
#5Q
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print(filtered_numbers)

[6, 60, 90, 120]

In [6]:
#6Q
words = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], words))
print(palindromes)

['php', 'aba', 'radar', 'level']