<a href="https://colab.research.google.com/github/Lakkireddy311/assignments/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is a structured collection of data that is organized in a way that makes it easy to manage, access, and update. SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems:

SQL databases: SQL databases are relational databases that use a structured schema and SQL for querying and manipulating data. They are known for their strong consistency, ACID compliance, and ability to handle complex queries involving multiple tables. Examples include MySQL, PostgreSQL, and Oracle.

NoSQL databases: NoSQL databases are non-relational databases that use a flexible schema and various data models like document, key-value, graph, or column-family. They are designed for scalability, high availability, and handling large volumes of unstructured or semi-structured data. Examples include MongoDB, Cassandra, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL (Data Definition Language) is a subset of SQL used to define, modify, and delete database objects such as tables, indexes, and views. Here's how these commands are used:

CREATE: Used to create new database objects.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

DROP: Used to delete existing database objects.
syntax=DROP TABLE employees;

ALTER: Used to modify the structure of existing database objects.
syntax=ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2);

TRUNCATE: Used to remove all rows from a table without deleting the table itself.
syntax=TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. DML (Data Manipulation Language) is a subset of SQL used to manipulate data within database objects. Here are examples of DML commands:

INSERT: Used to add new records to a table. Syntax: INSERT INTO employees (id, name, age) VALUES (1, 'John', 30);

UPDATE: Used to modify existing records in a table. UPDATE employees SET age = 31 WHERE id = 1;

DELETE: Used to remove records from a table.  DELETE FROM employees WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

A4. DQL (Data Query Language) is a subset of SQL used to retrieve data from database objects. The most common DQL command is SELECT:

SELECT: Used to retrieve data from one or more tables.
SELECT * FROM employees;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It enforces entity integrity and ensures that each row in the table is unique. Example:

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

Foreign Key: A foreign key is a column or a set of columns that establishes a link between data in two tables. It enforces referential integrity and ensures that the values in the foreign key column(s) match the values in the primary key column(s) of another table. Example

CREATE TABLE departments (
    id INT PRIMARY KEY,
    name VARCHAR(50)
);

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(id)
);

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create a cursor object
cursor = connection.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM employees")

# Fetch results
results = cursor.fetchall()
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
connection.close()

cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries.
execute(): The execute() method is used to execute SQL queries. It takes an SQL query as its argument.

Q7. Give the order of execution of SQL clauses in an SQL query.

A7. The order of execution of SQL clauses in an SQL query is as follows:

FROM
WHERE
GROUP BY
HAVING
SELECT
ORDER BY